<%- include('head') %>
<% if (messages.length) { %>
    <% messages.forEach((message) => { %>
         <h1><%= message.text %></h1>
        <p><%= message.user %></p>
        <p><%= message.date %></p>
        <% }); %>
 <% } %>